@layer components {
  .ts-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) translateZ(-20px);
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(0, 255, 255, 0.12),
      transparent 70%
    );
    opacity: 0;
    pointer-events: none;
    filter: blur(20px);
    z-index: 1;
  }

  .marquee {
    display: flex;
    width: max-content;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .marquee-ltr {
    animation-name: marquee-ltr;
  }
  .marquee-rtl {
    animation-name: marquee-rtl;
  }
  @keyframes marquee-ltr {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes marquee-rtl {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
